* {
    font-family: 'Kanit', sans-serif;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}
section#contact, section#home, section#educa{
    width: 100%;
    height: 100vh;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
}

section#profile, section#ardi{
    width: 100%;
    height: 100vh;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    background-color: #f2f2e9;
}

#imgcon {
    position: relative;
}

.imgprofile {
    width: 370px;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.8s ease;
    border: 5px;
    transform: translateX(-10,10);
}

.imgprofile:not(:first-child) {
    opacity: 0;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.headIndex {
    font-weight: bolder;
    font-size: 5vw;
    line-height: 90px;
    animation: varp 4s;
}

.headName {
    font-weight: bolder;
    font-size: 6.5vw;
    margin-top: 0px;
    animation: varp 4s;
}

.imghome {
    width: 60%;
    border-radius: 50%;
    margin-left: -50px;
    animation: varp 4s;
}

@keyframes varp {
    from {opacity: 0%;};
    to {opacity: 100%;}
}

.nav {
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    font-size: 23px;
    padding: 17px;
    font-weight: bolder;
    z-index: 2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.menu {
    color: #000;
    margin-left: 108px;
}

.menu:hover{
    text-decoration: none;
    color: #717171;
}

.namepro {
    font-size: 80px;
    font-weight: bolder;
    letter-spacing: 7px;
    text-align: left;
    margin-left: 60px;
    animation: changecolor 5s infinite linear;
}

.row {
    width: 100%;
}

.datapro {
    font-size: 25px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #575655;
}

@keyframes changecolor {
    0% {color: #000;}
    50% {color: #929292;}
    100% {color: #000;}
}

.imgedu {
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -45%);
}

.dataedu {
    margin-top: 60px;
    text-align: left;
    line-height: 25px;
}

hr {
    width: 450px;
    background-color: #bcbcbc;
}

.bolder {
    font-weight: bolder;
}

.music {
    width: 210px;
    height: 270px;
    background-color: #ebebeb;
    border-radius: 15px;
    box-shadow: 5px 5px 5px #bababa;
    margin-top: 20px;
}

.imgmusic {
    width: 180px;
    margin-top: 15px;
    border-radius: 15px;
    box-shadow: 4px 4px 4px #9c9c9c;
}

.music p {
    margin: 10px 0 0 18px;
    text-align: left;
    font-size: 15px;
    font-weight: bolder;
    color: #000;
}

.music p:hover {
    color: #000;
    text-decoration: none;
}

.icon {
    width: 30px;
    height: 50px;
}
